footer {
	background: #383838;
	color: rgba(255, 255, 255, .6);
	margin: 0;
	padding: 22px 0;
	background-image: url('../img/website/bg-footer.png');
	background-repeat: no-repeat;
	background-position-y: center;
	@include media-breakpoint-down(md) {
		background-position-y: bottom;
	}
	@include media-breakpoint-up(xl) {
		background-position-x: calc(50% - 570px);
	}
	hr {
		border-top: 2px solid $theme-orange;
	}
	a {
		color: rgba(255, 255, 255, .6);
		font-weight: 300;
		&:hover {
			color: rgba(255, 255, 255, .6);
		}
	}
}
.footer__title {
	color: $theme-orange;
	font-weight: 300;
	letter-spacing: 1px;
}
.footer__info {
	display: flex;
	align-items: flex-start;
	img {
		margin-right: 30px;
	}
	.footer__info__content {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
}