.producto-presentacion {
	background-color: $theme-orange;
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
	padding: 15px 0;
	font-size: 17px;
}
.producto-texto1 {
	font-size: 1.1em;
    margin-bottom: 15px;
    line-height: 1em;
}
.producto-texto2 {
	line-height: 0.7em;
	color: #000;
}